.main {
    display: inline-block;
    text-align: center;
}


.messageForm__wrapper {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
}

.messageForm__avatar {
    width: 60px;
    height: 60px;
}

.messageForm__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.messageForm__data {
    padding: 5px 10px;
    margin-left: 10px;
    max-width: 200px;
    background-color: darkgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.messageForm__data::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:-20px;
    display: block;
    width: 30px;
    height: 31px;
    background: radial-gradient(60px at top left, transparent 49%, darkgreen 51%) no-repeat right bottom;
}

.messageForm__name {
    color: burlywood;
    margin: 0;
    text-align: left;
}

.messageForm__message {
    text-align: left;
    color: #fff;
    margin: 0;
    min-width: 200px;
    line-height: 20px;
}
.messageForm__time {
    color:#fff;
    font-size: 10px;
    align-self: flex-end;
}

.formInput {
    margin-top: 10px;
}

.formInput input{
    background-color: #61dafb;
}

.formInput button {
    margin-left: 10px;
    background-color: #61dafb;
}