.input:focus {
    outline: none;
    border:#99ff99 solid 2px;
}

.superInput {
    background: #61dafb;
    border: 5px solid #282c34;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}